<% posts.forEach(post => { %>
<li class="list-group-item">
  <div class="d-flex justify-content-between align-items-center">
    <div>
      <h5 class="mb-1"><strong>Título:</strong> <%= post.titulo %></h5>
      <p class="mb-1"><strong>Conteúdo:</strong> <%- post.conteudo %></p>
      <small class="text-muted"><strong>Autor:</strong> <%= post.autor %> | <strong>Data de Postagem:</strong> <%- (new Date(post.datapostagem)).toLocaleString('pt-BR', { dateStyle: 'short', timeStyle: 'short' }) %></small>
    </div>
    <!-- Botão para excluir -->
    <form action="/deletePost" method="POST">
      <input type="hidden" name="postId" value="<%= post.id %>">
      <button type="submit" class="btn btn-danger">Excluir</button>
    </form>
  </div>
</li>

<% }) %>

<!-- Botão para excluir todos -->
<li class="list-group-item">
<form action="/deleteAllPosts" method="POST">
  <button type="submit" class="btn btn-danger">Excluir Todos</button>
</form>
</li>
</ul>
</ul>
<style>
  /* styles.css */

body {
  font-family: 'Arial', sans-serif;
  background-color: #f8f9fa;
  padding: 20px;
}

.list-group {
  list-style: none;
  padding: 0;
}

.list-group-item {
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #dee2e6;
  border-radius: 10px;
  background-color: #fff;
}

.list-group-item h5 {
  color: #007bff;
  margin-bottom: 10px;
}

.list-group-item p {
  color: #6c757d;
  margin-bottom: 5px;
}

.list-group-item small {
  color: #6c757d;
  display: block;
}

.list-group-item form {
  display: flex;
  align-items: center;
}

.btn {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-danger {
  background-color: #dc3545;
  border: none;
  color: #fff;
}

.btn-danger:hover {
  background-color: #c82333;
}

</style>